$primary-orange:#ff7043;
$primary-white:#ffff;
$primary-darkCharcoal:#333;
$primary-black:black;


$secondary-chineseSilver:#ccc;
$secondary-darkPink: #b00441;
$secondary-gray88: #e0e0e0;

$backgroundColor-navbarLinks: rgba(128, 128, 128, 0.649);
$backgroundColor-table:rgba(255, 250, 229, 0.95);
$backgroundColor-trHover:rgba(255, 112, 67, 0.15);
$background-button_link-Hover:linear-gradient(to right, #b00441, #ff7043);

