@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  font-family: $primary-font;
  display: flex;

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: $primary-white;
        font-weight: 500;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        padding: 0.5rem;
        transition: all 0.3s ease;

        &:hover {
          color: $primary-orange;
        }
      }

      .active {
        background-color: $backgroundColor-navbarLinks;
        border-radius: 1rem;
        color: $primary-orange;
        font-family: $secondary-font;
        font-size: 1rem;
      }

      .navbar__username {
        color: $secondary-darkPink;
        font-weight: bold;
        font-family: $primary-font;
      }

      .navbar__signout {
        font-family: $primary-font;
        margin: 0.5rem 0 0.5rem 0;
        padding: 0.5rem 1rem;
        background-color: $primary-orange;
        height: 2rem;
        width: 6rem;
        color: $primary-white;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        font-weight: bold;

        &:hover {
          background: $background-button_link-Hover;
          color: $primary-white;
        }
      }
    }
  }
}
