.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;

    &__list,
    a {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;

    }
}