.footer {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
    background-color: #fffae5;

    &__logo {
        width: 25px;
        height: 25px;
    }
}